NEXT_PUBLIC_WALLETCONNECT_PROJECT_ID=
NEXT_PUBLIC_SERVER_URL=http://localhost:3001
NEXT_PUBLIC_WAGER_WARS_ADDRESS=
NEXT_PUBLIC_USDC_ADDRESS=0x5425890298aed601595a70AB815c96711a31Bc65
NEXT_PUBLIC_CHAIN_ID=43113
