AVALANCHE_RPC_URL=https://api.avax-test.network/ext/bc/C/rpc
CHAIN_ID=43113
WAGER_WARS_ADDRESS=
USDC_ADDRESS=0x5425890298aed601595a70AB815c96711a31Bc65
SETTLEMENT_PRIVATE_KEY=
PORT=3001
CORS_ORIGIN=http://localhost:3000
